<nav>
    <ul>
        <li><h1><a href="/">tbhTBS</a></h1></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/videos">Videos</a></li>
        <% if (user && user.isWriter) { %>
            <li><a href="/create">Create</a></li>
        <% } else { %>
            <li><a href="/about">About</a></li>
        <% } %>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>