<nav>
    <ul>
        <li><h1><a href="/">tbhTBS</a></h1></li>
        <li><a href="#">Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>