<!DOCTYPE html>
<html>
    <head>
        <title>tbhTBS - About</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="intro">
            <p>"There’s lots of things in the world that aren’t set right, but some of them really bug you, maybe they make you cynical and bitter."</p>
            <p>"It’s like well, you’ve got something to do there. That’s your problem. Why? Who knows. I would say the reason is that it’s your destiny calling to you in the form of guilt over unfulfilled obligations.”</p>
            <p>"It’s like your better self is attempting to manifest itself by torturing you with a set of problems that you need to address. And then you can refuse that but all the meaning of your life goes out of the window if you do that."</p>
            <p>So here I am, trying to talk about things that matter to me.</p>
        </section>

        <section id="contact">
            <h2>Contact Me</h2>
            <p>Feel free to reach out with feedback, questions or just to say hello!</p>
            <p><a href="#">Email me</a></p>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>