<!DOCTYPE html>
<html>
    <head>
        <title>tbhTBS - Articles</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar.ejs') %>

        <section id="intro">
            <ul>
                <% articles.forEach(article => { %>
                    <li><p><a href="/article/<%= article._id%>"><%= article.title %></a></p></li>
                <% }) %>
            </ul>
        </section>

        <%- include('partials/footer.ejs') %>
    </body>
</html>