<!DOCTYPE html>
<html>
    <head>
        <title>tbhTBS - Create</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar.ejs') %>

        <section id="intro">
            <h2>New Post</h2>
            <!-- Text area matching the selector specified in the TinyMCE configuration -->
            <textarea id="my-expressjs-tinymce-app">Hello, World!</textarea>
        
            <!-- Script element sourcing TinyMCE -->
            <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
            <!-- Script element sourcing the TinyMCE configuration -->
            <script type="application/javascript" src= "js/my-tinymce-config.js"></script>
        </section>

        <%- include('partials/footer.ejs') %>
    </body>
</html>