<!DOCTYPE html>
<html>
    <head>
        <title>tbhTBS - Create</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar.ejs') %>

        <section id="intro">
            <form id="create" action="create" method="post">
                <input type="text" id="title" name="title" placeholder="Title" required>
                <!-- Text area matching the selector specified in the TinyMCE configuration -->
                <textarea id="my-expressjs-tinymce-app" name="body"></textarea>
                <input id="submit" type="submit">
            </form>
        </section>

        <%- include('partials/footer.ejs') %>
        <!-- Script element sourcing TinyMCE -->
        <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
        <!-- Script element sourcing the TinyMCE configuration -->
        <script type="application/javascript" src= "js/my-tinymce-config.js"></script>
    </body>
</html>