<head>
    <title>tbhTBS - Home</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <section id="intro">
        <p class="name">Hi, this is <span>tbhTBS</span></p>

        <h2>I'm a software engineer</h2>
        <p>interested in all things creative.</p>
        
        <p>This is where I write.</p>
    </section>

    <section id="contact">
        <h2>Contact Me</h2>
        <p>Feel free to reach out with feedback, questions or just to say hello!</p>
        <p><a href="#">Email me</a></p>
    </section>
    <%- include('partials/footer.ejs') %>
</body>