<!DOCTYPE html>
<html>
    <head>
        <title>tbhTBS - Login</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="intro">
            <form id="register" action="login" method="post">
                <h2>Login</h2>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit">
            </form>
        </section>

        <section id="contact">
            <h2>Contact Me</h2>
            <p>Feel free to reach out with feedback, questions or just to say hello!</p>
            <p><a href="#">Email me</a></p>
        </section>

        <%- include('partials/footer.ejs') %>
    </body>
</html>