/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --independence: #3A405A;
    --maya-blue: #78C3FB;
    --umber: #685044;
    --persian-indigo: #27187E;
    --cornflower-blue: #758BFD;
    --gold-fusion: #79745C;
    --russian-green: #709176;
    --jet: #2F2F2F;
    --sinopia: #BA5A31;
    --coffee: #694A38;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f9fbff;
    --book-white: #fdfdf2;
    --font-size: 1.3rem;
    --caslon: "Libre Caslon Text", serif;
    --sans: "Oxygen", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--caslon);
    background-color: var(--book-white);
    color: var(--black);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--plum);
}

a:hover {
    text-decoration: none;
}

#intro {
    padding-bottom: 10rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--caslon);
}

#intro h2 {
    font-size: 4rem;
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#contact {
    border-top-color: var(--coffee);
    border-top-style:groove;
    background-color: var(--white);
    padding: 3rem 0;
    text-align: center;
    margin: 0 auto;
}

nav {
    font-family: var(--caslon);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav a {
    color: var(--black);
    text-decoration: none;
    display: block;
}

nav a:hover {
    text-decoration:underline;
}

.button {
    background-color: var(--magenta);
    padding: .5rem;
    border-radius: 5px;
}

.button:hover {
    color: var(--white);
    background-color: var(--hotmag);
}

footer {
    background-color: var(--jet);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

footer p {
    font-size: 1rem;
    line-height: 1.5;
}

#register {
    text-align: center;
}

#register h2 {
    padding: 2rem;
}

input {
    border-radius: 5px;
    padding: 0.5rem;
}

#create input {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

#create input:nth-of-type(1) {
    width: 50%;
}

#post {
    background-color: var(--white);
    padding: 2rem;
}

#post h2 {
    color: var(--black);
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}